body, html{
    font-family: 'Open Sans', sans-serif;
	width: 90% !important;
	padding: 0;
	margin: 0 auto;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #8eb640;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navigation */
#menu {
	padding: 10px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #40E0D0;
	border-color: rgba(231, 231, 231, 0);
	width: 81% !important;
	margin: 0 auto;
}
#menu a.navbar-brand {
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #0000FF;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #0000FF;
	font-weight: 500;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #8eb640;
}
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #8eb640 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8eb640;
	border-color: #8eb640;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 70px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
	color: rgba(255,255,255,0.8);
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #72a411;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #628d0f;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	/*background: url(../img/cantho2.jpg) no-repeat center center;*/
	background-color: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: #fff;
}
.intro h1 {
	font-family: 'Dancing Script', cursive;
	color: #fff;
	font-size: 4em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}
header .hinhanh {
	height:20px;
	width:20px;
	padding-top: 120px;
	padding-bottom: 80px;
	text-align: center;	
}
/* About Section */
#about {
	padding: 120px 0;
}
#about1 {
	padding: 120px 1;
}

#about h3 {
	font-size: 20px;
}
#about .about-text {
	margin-left: 10px;
}
#about .about-img {
	display: inline-block;
	position: relative;
}
#about .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* Menu Section */
#restaurant-menu {
	padding: 0 0 60px 0;
}
#restaurant-menu .section-title {
	background: #444 url(../img/xanhlam2.jpg) center center no-repeat fixed;
	background-size: cover;
}
#restaurant-menu .section-title h2 {
	color: #fff;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #a7c44c;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 26px;
	display: block;
	font-weight: 500;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 35px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 600;
	font-size: 17px;
	color: #555;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
#restaurant-menu .menu-item-description {
	font-style: italic;
	font-size: 15px;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 600;
	color: #555;
	margin-top: -26px;
}
/* Portfolio Section */
#portfolio {
	padding: 0 0 120px 0;
}
#portfolio .section-title {
	background: #444 url(../img/gallery-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#portfolio .section-title h2 {
	color: #fff;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin: 0 10px;
	padding: 20px 0;
}
ol.type li a {
	color: #0000FF;
	font-weight: 500;
	font-size: 14px;
	padding: 12px 24px;
	background: #FF00FF;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
ol.type li a.active {
	color: #fff;
	background-color: #8eb640;
}
ol.type li a:hover {
	color: #fff;
	background-color: #8eb640;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.portfolio-item .hover-bg:before {
	display: block;
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	border: 1px solid rgba(255, 255, 255, 0.6);
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Team Section */
#team {
	color: #fff;
	background: #444 url(../img/team-bg.jpg) center top no-repeat fixed;
	background-size: cover;
}
#team .overlay {
	padding: 120px 0 80px 0;
	background: rgba(0, 0, 0, 0.6);
}
#team h2, #team p {
	color: #fff;
}
#team hr {
	background: #fff;
}
#team h3 {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0;
}
#team img {
	width: 280px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .team-img {
	display: inline-block;
	position: relative;
}
#team .thumbnail .team-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
#team .thumbnail .caption {
	padding-top: 10px;
}
#team .thumbnail .caption p {
	color: rgba(255,255,255,0.7);
	padding: 0 10px;
	font-size: 15px;
}
/* Call Reservation Section */
#call-reservation {
	padding: 90px 0;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8eb640+50,779936+100 */
	background: rgb(142,182,64); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(142,182,64,1) 50%, rgba(119,153,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb640', endColorstr='#779936', GradientType=0 ); /* IE6-9 */
}
#call-reservation .overlay {
	padding: 80px 0;
	background: #8eb640;
}
#call-reservation h2 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 400;
	margin: 0;
}
#call-reservation hr {
	background: #fff;
}
#call-reservation h3 {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	margin: 5px 0;
}
/* Contact Section */
#contact {
	padding: 100px 0 60px 0;
	background: #F6F6F6;
}
#contact .section-title p {
	color: #777;
}
#contact form {
	padding: 0;
}
#contact h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	color: #555;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
#contact .contact-item p {
	font-size: 16px;
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 50px 0 0 0;
}
#footer h3 {
	color: #8eb640;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer .copyrights {
	padding: 20px 0;
	margin-top: 50px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#779936+0,8eb640+50 */
	background: rgb(119,153,54); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 ); /* IE6-9 */
}
#footer .social {
	margin: 20px 0 30px 0;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #fff;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
	color: rgba(255,255,255,0.8)
}
#footer a {
	color: #f6f6f6;
}
#footer a:hover {
	color: #333;
}


/* ------- */

/* -----------------------  */
.tm-header{
    background: #99FFFF;
    display: block;
    padding: 20px;
    
}

.tm-logo{
    align-content: center;
    display: block;
    margin: 0 auto;
    width: 60%;
}

.tm-nav{
   max-width: 90%;
   border: 0px solid #3a382e;
   display: block;
  
   margin: 30px auto 0px auto;
  
}

.tm-nav div
{
    display: table;
    padding: 30px;
    margin: 0px auto;
}

.tm-nav div ul li{
    display:inline-block;  
   
}


.tm-nav div ul li a{
    font-size: 1.8vmax;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    
    
}
.tm-nav div ul li a:hover{
    
    color: #ec3c6a;
}



/*header ends here and sections start*/


/* slider */

.tm-slider{
    position: relative;
	
}


.tm-sliderimage{
    
	width: 60%;
	display: block;
	background: #FFFFE0;
	margin: 0 auto;
   
}
.bold{
    padding-bottom: 5px;
    font-size: 3vw;  
    font-weight: 900;
}
.simple{
    font-size: 2.5vw;  
}

.tm-slidertext{
 position: absolute; 
   top: 30%; 
  left: 50%;     
    color: #fff;
}


/* room */


.tm-rooms:focus {
    outline: none;
}
.tm-rooms a:focus {
    outline: none;
}

.tm-rooms{
    display: block;
    background: #FFF;
    max-width: 33%;
    width: 33%;
	color: #000000;
}


.tm-rooms img{
    max-width: 100%;
    width: 100%;
	height: 450px;
}



.tm-rooms p{
    font-size: 1.3vw;
    color: #000000;
    text-align: center;
	padding: 0.1%;

  
}

.tm-rooms a{
    text-decoration: none;
}

.tm-rooms a p:hover{
    color: #ec3c6a;


}

.s{
    padding-bottom: 1%;
}

.flex{
    display: flex;
}



/* services */

.tm-service{
	
    max-width: 50%;
    width: 50%;
    margin: 1.5% 12% 1.5% 10%;  
}

.tm-servicesection{
    display: flex;
}

.tm-serimage{
    display: inline-block;
    max-width: 25%;
    width: 20%;
    height: auto;
	padding-bottom: 5%;


}

.tm-service div{
    display: inline-block;

    max-width: 75%;
    padding: 5%;
}

.tm-service p{
    font-size: 1.1vmax;
    
}
.tm-service .b{
    padding-bottom: 2%;
    font-weight: 700;
}


/* review */



.tm-review{
	background-image:url("../imagesND/12.jpg");
    
    padding-bottom: 1.5%;
    
}

.tm-review::after{
    content:" ";
    display: block;
    clear: both;
}

.tm-revcon{
    float: left;
    padding-left: 5%;
    max-width: 65%;
}

.tm-revcon .b{
    padding: 3% 0 3% 5%;
    font-size: 2vw;
    font-weight: 700;
}

.tm-revcon p{
    font-size: 1.1vw;
    color: #fff;
}

.tm-rev{
   padding: 3% 0 0% 5%;
   max-width: 70%;
 
}




.tm-stars{
	display: block;
    padding-left: 5%;
}
.tm-stars img{
    width: 4%;
    height: auto;
}



/* Make reservation */

.tm-res{
    background-image:url("../imagesND/13.jpg");
	display: no-repeat;
    padding: 2%;
}


.tm-resbutton p{
    display: table;
    max-width: 30%;
    margin: 0 auto;
    font-size: 2.0vw;
    padding: 2%;
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
   
}
.tm-resbutton a{
     text-decoration: none;
}

.tm-resbutton p:hover{
    color: #ec3c6a;
    background: #00CCFF;
}



/* footer */

.tm-footer{
     background: #211f17;
    display: block;
    padding: 20px;
    position: relative;

}

.tm-us{
    display: inline-table;
    max-width: 30%;
    width: 30%;
    margin: 2% 0 2% 4%
}

.tm-address{
    display: inline-table;
    max-width: 30%;
    width: 30%;
     margin: 2% 0 2% 25%
}

.tm-us .bold, .tm-address .bold{
    color: #ec3c6a;
    font-size: 1.5vw;
    font-weight: 700;
    padding-bottom: 4%;
}

.tm-us p, .tm-address p{
    color: #fff;
    font-size: 1.2vw;
}

.tm-media{
   display: inline;
    margin: 0 0 0 59%;
 

}
.tm-media img{
  margin: 0.5%;
    width: 3%;
    height: auto;
    
}

.tm-up
{
    position: absolute;
    top: 20%;
    right: 3%;
    width: 3%;
    height: auto;
    
}

.tm-review:focus{
    outline: none;
}

.tm-revcon:focus{
    outline: none;
}


/* Explore page */

.tm-main{
      background: #cc4151;
    padding: 2%;
}

.tm-main p{
    display: table;
    max-width: 30%;
    margin: 0 auto;
    font-size: 4vw;
     padding: 2%;
    color: #fff;
    font-weight: 700;
}


/* Explore sections */

.tm-exp1, .tm-exp2{
    background: #353535;
    
}

.tm-exp1::after{
    content:" ";
    display: block;
    clear: both;
}

.tm-exp2::after{
    content:" ";
    display: block;
    clear: both;
}


.tm-exp1 p{
    float: right;
    padding-right: 5%;
    padding-top: 15%;
    max-width: 30%;
    font-size: 3.5vw;
    color: #fff;
}

.tm-exp2 p{
    float: left;
    padding-left: 5%;
    padding-top: 15%;
    max-width: 30%;
    font-size: 3.5vw;
    color: #fff;
}

.tm-exp1 img{
    display: block;
    float: left;
    max-width: 60%;
    width: 60%;
    height: auto;
    
}

.tm-exp2 img{
    display: block;
    float: right;
    max-width: 60%;
    width: 60%;
    height: auto;
    
}


.tm-expsection::after{
  content: ".";
     font-size: xx-small;
    visibility: hidden;
}



/* rooms page */

.tm-roomsection{
    display: flex;
}

.tm-room1{
    max-width: 33.33333%;
    width: 33.333333%;
    background: #353535;
    
display: inline-block;
    margin: 0px;
    position: relative;
}

.tm-room1 p{
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
    padding: 5%;
    z-index: 2;
    position: relative;
}


.tm-roomimage{
    max-width: 100%;
    width: 100%;    
}

.tm-trans{
    display: inline-block;
    position: absolute;
    top: 78%; /*78*/
   color: #fff;
     max-width: 100%;
    width: 100%;
    height: 0%; /*0*/
     background: rgba(53, 53, 53,0.7);
    opacity: 0; /*0*/
}

.tm-trans p{
    font-size: 1.8vw;

}
.tm-trans div{
    display: inline-table;
    width: 40%;
    max-width: 40%;
    margin: 2%;
}

.tm-trans div .bold{
    color: #ff8d9a;

}


.tm-room1:hover .tm-trans{
 
    top:30%;
   
    transition: top 1s, opacity 1s, height 1s;
       opacity: 1;
     height: 50%;
    z-index: 1;
}



/* booking */

.tm-booking
{
     background: #353535;
    position: relative;
}
.tm-form1, .tm-form2{
   
    padding: 2% 5%;
    
}

 div.vertical-line{
      width: 0.15%; 
      background-color:  #ec3d68; 
      height: 90%; 
      position: absolute;
         top: 6%;
    left: 50%;
    }

.tm-form1{
    float:left;
/*
    max-width: 39.5%;
    width: 39.5%;
*/
    
     max-width: 40%;
    width: 40%;
    
    
}

.tm-form2{
    float:right;
/*
    max-width: 39.5%;
    width: 39.5%;
*/
    
    
     max-width: 40%;
    width: 40%;
   
}

input, select, textarea,
input::-webkit-input-placeholder {
    font-size: 2vw;
}

input, select, textarea{
    color: #ec3d68;
}

input::-webkit-input-placeholder{
    color: #f17c94;
}

textarea::-webkit-input-placeholder{
    color: #f17c94;
}


label{
     font-size: 2vw;
    color: #fff;
    font-weight: 700;
}


.tm-booking::after{
    content:" ";
    display: block;
    clear: both;
}

input[type=text]:nth-child(1),input[type=email],textarea{
    display: block;
    margin: 5%;
    padding: 1% 3%;
    width: 80%;
   
}

textarea {
    max-width: 80% ;
    resize: none;
    
}

#rooms{
    display: inline-block;
    margin: 5%;
    padding: 1% 3%;
    width: 55%;
}

#inlinelable{
    display: inline-block;
    margin: 5%;
    
}




.tm-num1, .tm-num2{
    display: inline-block;

    max-width: 39%;
    width: 39%;
    margin: 5%;
}

#number1 , #number2{
    width:30%;
    padding: 3% 8%;
    margin-top: 5%;
  
    text-align: center;
}


.range{
    font-size: 2vw;
    margin-top: 5%;
    margin-bottom: 50%;
    padding: 1% 3%;
    width: 70%;
}


input[type=submit]{
    display: block;
    background: #353535;
    padding: 1% 3%;
     color: #fff;
    border: 1px solid #fff;

 

}

#sub{
     margin-left: 70%;
  
}

#sub2{
     margin-left: 5%;
  
}

input[type=submit]:hover{
    color: #ec3d68;
    border: 1px solid #ec3d68;
}

input[type=submit]:focus{
    outline: none;
}

.arrival {
    display: block;
    margin-top: 5%;
}

.here {
    display: inline-block;
    margin-top: 5%;
    font-size: 2vw;
    color: #fff;
    font-weight: 700;
}


#place{
     margin-top: 5%;
    margin-left: 3%;
    width:5%;
    max-width: 5%;
}



#map{
    margin-top: 5%;
   height: 335px;
    width: 80%;
}









.tm-imgslider{
    position: relative;
}

.left, .right{
    position: absolute;
    width: 1.5%;
    max-width: 1.5%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
     opacity:0;
   
}

.left:hover, .right:hover{
     opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

.left{
    top: 10%;
    left: 1%;
}

.right{
    top: 10%;
    right: 1%;
}








::-webkit-scrollbar { 
    display: none; 
}



#scrollUp {
  bottom: 100px;
  right: 40px;
  padding: 1%;
  background: #211f17;
    border : 3px solid;
  color: #fff;
   opacity: 0.7;
    border-radius: 50%;
    font-size: 1.5vw;
        width: 1.5%;
        text-align: center;
    
}


/*----------------------------------*/




.tm-container-outer {
    max-width: 1400px;
    margin: 0 auto;    
}

.tm-footer-text-highlight {
    color: white;
    font-weight: 600;
}

.tm-footer-text-highlight:hover { color: #c66995; }

.tm-contact-form {
    background: white;
    width: 470px;
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 20px;
    z-index: 1000;
}

.form-control {
    background-color: #f5f5f5;
    border: none;
}

.form-control:focus {
    border-color: #69c6ba;
    box-shadow: 0 0 0 0.1rem #69c6babf;
}

.tm-btn-send {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

#google-map { height: 600px; }

@media screen and (max-width: 1080px) {
    .tm-tab-link-li { width: 25%; }
}

@media screen and (max-width: 1033px) {
    .tm-slideshow-description { width: 55%; }
}

@media screen and (max-width: 991px) {
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 20px;
        background: white;
    }

    .tm-top-bar, .tm-top-bar-bg { height: auto; }

    #mainNav {
        width: 200px;
        position: absolute;
        top: 53px;
        right: 15px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
    }

    .tm-top-bar {
        height: 60px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
    }

    .tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 15px; }

    .tm-top-bar .navbar-brand { font-size: 1.4rem; }

    .tm-top-bar .navbar-brand img {
        width: 60px;
        height: auto;
    }

    .tm-top-bar .navbar-brand img { width: 40px; }

    .tab-pane {
        margin-left: 20px;
        margin-right: 20px;
    }

    .tm-recommended-description-box { width: 450px; }
}

@media screen and (max-width: 986px) {
    .tm-slideshow-section { flex-direction: column; }
    
    .tm-slideshow,
    .tm-slideshow-description {
        width: 50%;
        max-width: 100px;
    }

    .tm-slideshow-description {        
        margin-right: auto;
        margin-left: auto;
    }

    .slick-prev, .slick-next {
        bottom: 0;
        top: auto;
    }

    .tm-contact-form {
        position: static;
        width: 100%;
    }

    .tm-name-container,
    .tm-email-container {
        width: 49%;
    }

    .tm-email-container {
        margin-left: 0;
        float: right;
    }

}

@media screen and (max-width: 860px) {
    .tm-recommended-description-box { width: 350px; }
}

@media screen and (max-width: 826px) {

    .tm-banner-row-header { padding-top: 120px; }

    .tm-recommended-place-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 15px;
    }

    .tm-recommended-place {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    .tm-recommended-price,
    .tm-recommended-price-link {
        position: relative;
        z-index: 1000;
    }

    .tm-recommended-price { padding-top: 50px; }

    .tm-recommended-price-box {
        width: 270px;
        height: 180px;        
        position: relative;
        overflow: hidden;
        padding-left: 0;
        background-image: none;
    }

    .tm-recommended-price-box:after {
        content: "";
        position: absolute;
        width: 180px;
        height: 270px;
        top: -45px;
        left: 45px;
        z-index: 27;
        background: url(../img/button-curve.png) 0 0 no-repeat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background-size: auto 100%;      
    }

    .tm-recommended-price-box,
    .tm-recommended-price-box:hover {
        background-size: cover;
    }

    .tm-recommended-description-box { width: 270px; }
}

@media screen and (max-width: 767px) {
    .tm-banner-row {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .tm-banner-header { margin-top: 100px; }

    .tm-form-group-1,
    .tm-form-group-2,
    .tm-form-group-3 {
        width: 100%;
    }    
}





