<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html>
<head>
  <title>Đăng ký</title>
<link rel="stylesheet" href="{% static 'dangnhapdangky/css/DK.css' %}">
<body>
<h2>Đăng ký</h2>
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form action="{% url 'MemberUser:registerUser' %}" method="post">
                <p>Nhập thông tin của bạn</p>

                {% csrf_token %}
                {{rF}}
                <span>Đăng nhập nhanh</span>
                <div class="social-container">

                    <a href="{% provider_login_url 'google' %}" class="social"><i class="fab fa-google-plus-g"></i></a>

                </div>

                <!--<input type="text" placeholder="username" />
                <input type="email" placeholder="email" />
                <input type="password" placeholder="password" />
                <a href="#">Bạn quên mật khẩu</a>-->
                <a href="#"><button>Đăng nhập</button></a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng trở lại!</h1>
                    <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào!</h1>
                    <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>

                </div>
            </div>
        </div>
    </div>

<script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        //signUpButton.addEventListener('click', () => {
        //    container.classList.add('right-panel-active');
        //});

        //signInButton.addEventListener('click', () => {
        //    container.classList.remove('right-panel-active');
        //});
</script>
</body>
</html>